<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>

<main class="container-fluid">

    <div class="row">
        <section class="col-lg-8">
            <div class="container">
                <div id="error-msg" style="display: none" class="alert alert-danger">This date and time has already been scheduled!</div>
                <h1>Add Appointment Time Slot</h1>

                <form method="post" action="/addAvailability">
                    <div id="addAvailability" class="form-group custom-form">

                        <!-- Date and time -->
                        <label class="datetime"> Pick a date </label>
                        <input onchange="DateSelected()" id="date" type="date" name="date" required/>

                        <label class="datetime"> Pick a time </label>
                        <input onchange="DateSelected()" id="time" type="text" name="time" required/>

                        <script>
                            $('#time').timepicker({
                                'minTime': '9:00am',
                                'maxTime': '5:00pm',
                                'disableTimeRanges': [
                                    ['10:00am', '10:30am'],
                                    ['12:00pm', '1:00pm'],
                                    ['3:00pm', '3:30pm']
                                ]
                            });
                        </script>

                        <button style="display: none;" id="button" type="submit" class="btn btn-default uploadbtn addavaiablity">Add Availability</button>
                    </div>
                </form>
            </div>





        </section>
    </div>
</main>



<script>
    // Setting minimum date to select
    var currentDate = new Date();
    var displayDate = currentDate.toISOString().substr(0, 10);
    document.querySelector("#date").min = displayDate;
</script>



<script>
    function DateSelected(){
        var date = document.getElementById("date").value;
        var time = document.getElementById("time").value;
        var errormsg = document.getElementById("error-msg");
        var isScheduled = false;
        // Check if the date and time input has already been scheduled.
        {{#each availability}}
            if("{{this.appointment.date}}" == date && "{{this.appointment.time}}" == time)
                isScheduled = true;
        {{/each}}
        // If they are scheduled, display an error message
        if(isScheduled)
            errormsg.style.display = "block";
        else
            errormsg.style.display = "none";
        if(date != null && time.length >= 6 && !isScheduled)
            button.style.display = "inline-block";
        else
            button.style.display = "none";
    }
</script>