<section class="col-lg-8 col-mg-12 col-sm-12">
        <h2 class="page-header"><p align="left">Change Password</p></h2>
        {{#if oldPassword}}
        <div class="alert alert-danger"><p align="left">Old Password does not Match</p></div>
        {{/if}} {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}} {{/if}}
        <form method="post" action="/changePassword">
            <div class="form-group">
                <p align="left"><label>Old Password</p></label>
                <input type="password" class="form-control" placeholder="Old Password" name="password">
            </div>

            <div class="form-group">
                <p align="left"><label> New Password</p></label>
                <input type="password" class="form-control" placeholder=" New Password" name="newPassword">
            </div>
            <div class="form-group">
                <p align="left"><label>Confirm Password</p></label>
                <input type="password" class="form-control" placeholder=" Confirm Password" name="password2">
            </div>
            <p align="left"><button type="submit" class="btn btn-default">Submit</button></p>
        </form>
</section>
