<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">
            <h2>Contact Us</h2>
            <h4>Email - <a href=""> Customerservice@mastodon.com </a></h4>
            <h4> Phone - 133 12 23 </h4>
        </section>
    </div>
</main>
