<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">
            {{#if user}}
                <h1> Hi, {{user.name}}! </h1>
                <h4> You can view, edit, delete users and appointments.</h4>
            {{/if}}
        </section>
    </div>
</main>
