<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">
            {{#if user}}
                <h1> Hi, {{user.name}}! </h1>
            {{/if}}
        </section>
    </div>
</main>
