<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">

            <div class="card profile">
                <img class="card-img-top" src="../images/userPic.png" alt="Profile/Bio">
                <div class="card-body">
                    <h2 class="card-title">{{user.name}}</h2>
                    <p class="card-text">{{user.bio}}</p>
                    <span class="card-text specialty">{{user.specialty}}</span>
                </div>
            </div>

        </section>
    </div>
</main>
