<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">
                <h2>Doctor: {{doctor}}</h2>
                <h4>Description:</h4>
                <p>{{description}}</p>
        </section>
    </div>
</main>
