<main class="container-fluid">
    <div class="row">
        <section class="col-lg-8">
            {{#if user}}
               {{#each doctors}}
               <a href="/profile/{{this.id}}"> <h2>{{this.name}}</h2> </a>
               <h4>Availability: 8:00am - 3:00pm</h4>
               <h4><a href="/book">Book an appointment</a></h4>
               <p>{{this.bio}}</p>
                              {{/each}}
            {{/if}}

        </section>
    </div>
</main>
